# Don't change this
type: http

name: discord # this must match with the registered plugin in the profile
log_level: info # Options include: trace, debug, info, warn, error, off

# "raw" & "endraw" are used to escape Jinja2 templates
{% raw %}
format: |
  {
    "embeds": [
      {{range . -}}
      {{$alert := . -}}
      {{range .Decisions -}}
      {
        "title": "{{.Type}} {{.Value}} for {{.Duration}}",
        "description": "https://app.crowdsec.net/cti/{{.Value}}\nhttps://shodan.io/host/{{.Value}}"
      }
      {{end -}}
      {{end -}}
    ]
  }
{% endraw %}

# plugin will make requests to this url. Eg value https://www.example.com/
url: {{ crowdsec_discord_webhook}}

method: POST # eg either of "POST", "GET", "PUT" and other http verbs is valid value.
headers:
  Content-Type: application/json