# NFS root export
/export {{ ansible_default_ipv4['network'] }}/{{ ansible_default_ipv4['prefix'] }}(ro,fsid=0)

# NFS exports to specific hosts
{% for export in nfs_config['exports'] %}
/export/{{ export['path'] | basename }} {% for host in export['allowed_hosts'] %}{{ host }}({{ export['options'] }}) {% endfor %}

{% endfor %}