---
http:
  routers:
    proxmox:
      rule: "Host(`pve.{{ private_domain }}`)"
      entryPoints: 
        - "https"
      tls: {}
      service: "proxmox"

    wireguard:
      rule: "Host(`wg.{{ private_domain }}`)"
      entryPoints: 
        - "https"
      tls: {}
      service: "wireguard"

    baikal:
      rule: "Host(`baikal.{{ private_domain }}`)"
      entryPoints: 
        - "https"
      tls: {}
      service: "baikal"

    firefly:
      rule: "Host(`firefly.{{ private_domain }}`)"
      entryPoints: 
        - "https"
      tls: {}
      service: "firefly"

    freshrss:
      rule: "Host(`rss.{{ private_domain }}`)"
      entryPoints: 
        - "https"
      tls: {}
      service: "freshrss"

    sftpgo:
      rule: "Host(`ftp.{{ private_domain }}`)"
      entryPoints: 
        - "https"
      tls: {}
      service: "sftpgo"

    syncthing:
      rule: "Host(`sync.{{ private_domain }}`)"
      entryPoints: 
        - "https"
      tls: {}
      service: "syncthing"

    jellyfin:
      rule: "Host(`media.{{ private_domain }}`)"
      entryPoints: 
        - "https"
      tls: {}
      service: "jellyfin"