---
- name: Provision Docker hosts
  hosts: docker
  ignore_unreachable: true
  become: true
  roles:
    - common
    - security
    - docker

- name: Start maintenance
  hosts: docker
  ignore_unreachable: true
  become: true
  roles:
    - maintenance