proxmox.dizzytopaz.fr {
    tls internal
    reverse_proxy https://192.168.1.9:{{ ports.proxmox }} {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

yellow-axolotl.dizzytopaz.fr {
    tls internal
    reverse_proxy 192.168.1.10:{{ ports.cockpit }} {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

wireguard.dizzytopaz.fr {
    tls internal
    reverse_proxy 192.168.1.10:{{ ports.wireguard }}
}

syncthing.dizzytopaz.fr {
    tls internal
    reverse_proxy 192.168.1.10:{{ ports.syncthing }}
}

freshrss.dizzytopaz.fr {
    tls internal
    reverse_proxy 192.168.1.10:{{ ports.freshrss }}
}

baikal.dizzytopaz.fr {
    tls internal
    reverse_proxy 192.168.1.10:{{ ports.baikal }}
}

firefly.dizzytopaz.fr {
    tls internal
    reverse_proxy 192.168.1.10:{{ ports.firefly }}
}