---
- name: Create Baikal volumes
  community.docker.docker_volume:
    state: present
    volume_name: "{{ item }}"
  loop:
    - baikal_config
    - baikal_specific

- name: Run Baikal container
  community.docker.docker_container:
    name: baikal
    image: docker.io/ckulka/baikal:nginx
    state: started
    pull: always
    recreate: true
    restart_policy: unless-stopped
    networks:
      - name: traefik_network
    volumes:
      - baikal_config:/var/www/baikal/config
      - baikal_specific:/var/www/baikal/Specific
    labels:
      traefik.enable: "true"
      traefik.http.routers.baikal.rule: Host(`dav.{{ traefik_domain }}`)
      traefik.http.routers.baikal.entrypoints: "websecure"
      traefik.http.routers.baikal.service: "baikal"
      traefik.http.services.baikal.loadbalancer.server.port: "80"