---
- name: Create Beszel Agent volume
  community.docker.docker_volume:
    state: present
    volume_name: beszel_agent_data

- name: Run Beszel Agent container
  community.docker.docker_container:
    name: beszel-agent
    image: docker.io/henrygd/beszel-agent:latest
    state: started
    pull: always
    recreate: true
    restart_policy: unless-stopped
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - beszel_agent_data:/var/lib/beszel-agent
    env:
      KEY: "{{ vault_beszel_agent_key }}"
      TOKEN: "{{ vault_beszel_agent_token }}"
      HUB_URL: "https://beszel.{{ traefik_domain }}"