---
- name: Create Filestash volume
  community.docker.docker_volume:
    state: present
    volume_name: filestash_data

- name: Run Filestash container
  community.docker.docker_container:
    name: filestash
    image: docker.io/machines/filestash:latest
    state: started
    pull: always
    recreate: true
    restart_policy: always
    networks:
      - name: traefik_network
    volumes:
      - filestash_data:/app/data/state
    env:
      APPLICATION_URL: "files.{{ traefik_domain }}"
    labels:
      traefik.enable: "true"
      traefik.http.routers.filestash.rule: Host(`files.{{ traefik_domain }}`)
      traefik.http.routers.filestash.entrypoints: "websecure"
      traefik.http.routers.filestash.service: "filestash"
      traefik.http.services.filestash.loadbalancer.server.port: "8334"