---
- name: Create Minecraft directory
  ansible.builtin.file:
    path: "/mnt/minecraft_data"
    state: directory
    owner: '1000'
    group: '1000'

- name: Run Minecraft server
  community.docker.docker_container:
    name: minecraft
    image: docker.io/itzg/minecraft-server:latest
    state: started
    pull: always
    recreate: true
    restart_policy: unless-stopped
    ports:
      - 25565:25565/tcp
    volumes:
      - "/mnt/minecraft_data:/data"
    env:
      # General
      MEMORY: "4G"
      USE_AIKAR_FLAGS: "true"
      EULA: "true"
      ONLINE_MODE: "true"
      SNOOPER_ENABLED: "false"
      ENABLE_AUTOPAUSE: "true"
      ENABLE_ROLLING_LOGS: "true"
      # Gameplay
      TYPE: "FABRIC"
      VERSION: "1.21.4"
      SERVER_NAME: "minecraft-survival"
      MOTD: "Welcome to Steadywool's Minecraft server"
      DIFFICULTY: "normal"
      MODE: "survival"
      # World
      SPAWN_PROTECTION: "0"
      VIEW_DISTANCE: "8"
      SIMULATION_DISTANCE: "6"
      # Players
      MAX_PLAYERS: "6"
      FORCE_GAMEMODE: "true"
      ENABLE_WHITELIST: "true"
      # Mods
      MODRINTH_PROJECTS: |
        terralith,nullscape,incendium:5.4.4,towns-and-towers,
        yungs-better-mineshafts,yungs-better-dungeons,yungs-better-strongholds,
        yungs-better-ocean-monuments,yungs-better-nether-fortresses,
        yungs-better-witch-huts,yungs-better-desert-temples,yungs-bridges,
        yungs-better-jungle-temples,yungs-extras,yungs-better-end-island,
        blossomtpa,blossomback,blossomhomes,lithium,ferrite-core
      MODRINTH_DOWNLOAD_DEPENDENCIES: "required"