---
- name: Create Docker NFS volume for Syncthing
  community.docker.docker_volume:
    state: present
    volume_name: syncthing_nfs
    driver_options:
      type: "nfs"
      o: "addr={{ hostvars['srv-truenas']['ansible_host'] }}"
      device: ":/mnt/default-pool/syncthing"

- name: Run Syncthing container
  community.docker.docker_container:
    name: syncthing
    image: docker.io/syncthing/syncthing:latest
    state: started
    pull: always
    recreate: true
    restart_policy: unless-stopped
    networks:
      - name: traefik_network
    ports:
      - 22000:22000/tcp
      - 22000:22000/udp
      - 21027:21027/udp
    volumes:
      - syncthing_nfs:/var/syncthing
    env:
      PUID: '1000'
      PGID: '1000'
    labels:
      traefik.enable: "true"
      traefik.http.routers.syncthing.rule: Host(`sync.{{ traefik_domain }}`)
      traefik.http.routers.syncthing.entrypoints: "websecure"
      traefik.http.routers.syncthing.service: "syncthing"
      traefik.http.services.syncthing.loadbalancer.server.port: "8384"