[DEFAULT]
bantime = 1h
findtime = 30m
maxretry = 3
backend = systemd
banaction = iptables-multiport
banaction_allports = iptables-allports

[Definition]
actionban = /usr/bin/curl -s -X POST "{{ fail2ban_gotify_url }}" -F title="[Fail2Ban] <name>" -F message="Banned IP: <ip>" -F "priority=10"
actionunban = /usr/bin/curl -s -X POST "{{ fail2ban_gotify_url }}" -F title="[Fail2Ban] <name>" -F message="Unbanned IP: <ip>" -F "priority=10" 

[sshd]
enabled = true
filter = sshd
port = ssh