proxmox.dizzytopaz.fr {
    tls internal
    reverse_proxy https://192.168.1.9:{{ ports.proxmox }} {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

wireguard.dizzytopaz.fr {
    tls internal
    reverse_proxy 192.168.1.10:{{ ports.wireguard }}
}

cockpit.dizzytopaz.fr {
    tls internal
    reverse_proxy localhost:{{ ports.cockpit }} {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

syncthing.dizzytopaz.fr {
    tls internal
    reverse_proxy localhost:{{ ports.syncthing }}
}

freshrss.dizzytopaz.fr {
    tls internal
    reverse_proxy localhost:{{ ports.freshrss }}
}

baikal.dizzytopaz.fr:80 {
    reverse_proxy localhost:{{ ports.baikal }}
}

firefly.dizzytopaz.fr:80 {
    reverse_proxy localhost:{{ ports.firefly }}
}