proxmox.dizzytopaz.fr {
    tls internal
    reverse_proxy 192.168.1.9:{{ ports.proxmox }} {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

wireguard.dizzytopaz.fr {
    tls internal
    reverse_proxy 192.168.1.10:{{ ports.wireguard }}
}

http://nextcloud.dizzytopaz.fr {
    reverse_proxy 192.168.1.11:{{ ports.nextcloud }}
}

freshrss.dizzytopaz.fr {
    tls internal
    reverse_proxy 192.168.1.11:{{ ports.freshrss }}
}

http://firefly.dizzytopaz.fr {
    reverse_proxy 192.168.1.11:{{ ports.firefly }}
}