---
http:
  routers:
    pbs:
      rule: "Host(`pbs.{{ wildcard_domain }}`)"
      entryPoints: 
        - "https"
      tls: {}
      service: "pbs"
    pve:
      rule: "Host(`pve.{{ wildcard_domain }}`)"
      entryPoints: 
        - "https"
      tls: {}
      service: "pve"
    wireguard:
      rule: "Host(`wg.{{ wildcard_domain }}`)"
      entryPoints: 
        - "https"
      tls: {}
      service: "wireguard"
    openmediavault:
      rule: "Host(`nas.{{ wildcard_domain }}`)"
      entryPoints: 
        - "https"
      tls: {}
      service: "openmediavault"

  services:
    pbs:
      loadBalancer:
        servers:
          - url: "https://{{ hostvars['srv-pbs-01']['ansible_host'] }}:8007"
    pve:
      loadBalancer:
        servers:
          - url: "https://{{ hostvars['srv-pve-01']['ansible_host'] }}:8006"
    wireguard:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['lxc-vpn-01']['ansible_host'] }}:51821"
    openmediavault:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['vm-nas-01']['ansible_host'] }}:80"