[global]
workgroup = WORKGROUP
server string = Samba Server Version %v
log file = /var/log/samba/log.%m
max log size = 1000
load printers = no
security = user

[homes]
comment = homes share
browseable = no
writable = yes
valid users = {{ smb_config['users'] | map(attribute='username') | join(', ') }}
vfs objects = recycle
recycle:repository = .recycle
recycle:exclude_dir = .recycle
recycle:keeptree = yes
recycle:versions = yes

{% for share in smb_config.shares %}
[{{ share['path'] | basename }}]
comment = {{ share['path'] | basename }} share
path = {{ share['path'] }}
browseable = yes
writable = yes
valid users = {{ share['allowed_users'] | join(', ') }}
force user = {{ ansible_user }}
force group = {{ ansible_user }}

{% endfor %}