api:
  debug: false
  dashboard: true

entryPoints:
  http:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: "https"
          scheme: "https"
  routers:
    proxmox:
      rule: Host(`proxmox.{{ private_domain }}`)
      entryPoints: "https"
      tls:
        certresolver: "ovh"
      service: "proxmox"
      loadbalancer:
        server:
          port: "8006"
  https:
    address: ":443"

serversTransport:
  insecureSkipVerify: true

providers:
  docker:
    network: overlay_network
    exposedbydefault: false

certificatesResolvers:
  ovh:
    acme:
      email: "{{ email }}"
      storage: "acme.json"
      dnsChallenge:
        provider: "ovh"