[global]
workgroup = WORKGROUP
server string = Samba Server Version %v
log file = /var/log/samba/log.%m
max log size = 1000
load printers = no
getwd cache = yes

[homes]
comment = Home Directories
browseable = yes
writable = yes
valid users = %S
vfs objects = recycle
recycle:repository = .recycle
recycle:exclude_dir = .recycle
recycle:keeptree = yes
recycle:versions = yes

{% for share_name, share_details in samba.shares.items() %}
[{{ share_name }}]
comment = {{ share_name | capitalize }} Share
path = {{ share_details.path }}
browseable = yes
writable = yes
valid users = {{ share_details.auth | join(', ') }}
force user = {{ ansible_user }}

{% endfor %}