---
http:
  routers:
    pve:
      rule: "Host(`pve.{{ traefik_domain }}`)"
      entryPoints: 
        - "https"
      tls: {}
      service: "pve"
  services:
    pve:
      loadBalancer:
        servers:
          - url: "https://{{ hostvars['srv-pve-01']['ansible_host'] }}:8006"