---
# Select the OVH provider as my default resolver
# Also use my wildcard domain for all my Docker services using Traefik
tls:
  stores:
    default:
      defaultGeneratedCert:
        resolver: "ovh"
        domain:
          main: "{{ traefik_domain }}"
          sans:
            - "*.{{ traefik_domain }}"

# Reverse proxy services through this config file
http:
  routers:
    truenas:
      rule: "Host(`nas.{{ traefik_domain }}`)"
      entryPoints: 
        - "websecure"
      tls: {}
      service: "truenas"
  services:
    truenas:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['srv-truenas']['ansible_host'] }}/ui:80"