---
api:
  debug: false # Enable this to debug Traefik
  dashboard: false # Enable/disable the web dashboard

# HTTPS certificate
certificatesResolvers:
  ovh:
    acme:
      email: "{{ traefik_email }}"
      storage: "/etc/traefik/acme.json"
      dnsChallenge:
        provider: "ovh"

# HTTP/HTTPS configuration
entryPoints:
  web:
    address: ":80/tcp"
    http:
      redirections:
        entryPoint:
          to: "websecure"
          scheme: "https"
  websecure:
    address: ":443/tcp"
    http:
      tls:
        certResolver: "ovh"
        domains:
          - main: "{{ traefik_domain }}"
            sans:
              - "*.{{ traefik_domain }}"

# Allow reverse-proxy on self-signed web app
serversTransport:
  insecureSkipVerify: true

providers:
  # Reverse proxy docker services
  docker:
    endpoint: "unix:///var/run/docker.sock" # Docker socket
    network: "traefik_network" # Docker network
    exposedbydefault: false # Must use traefik.enable to expose service