# Name of the datacenter
datacenter = "homelab"

# Name of each node
node_name = "{{ inventory_hostname }}"

# Data directory
data_dir = "/var/lib/consul"

# The address to which Consul will bind client interfaces
client_addr = "0.0.0.0"

# The address that should be bound to for internal cluster communications
bind_addr = "{{ ansible_host }}"

# The address that we advertise to other nodes in the cluster
advertise_addr = "{{ ansible_host }}"

# Enable the web UI
ui_config {
  enabled = false
}

# Enable the server mode
server = true

# The number of expected servers in the datacenter
bootstrap_expect = {{ groups['consul'] | length }}

# Specifies the secret key to use for encryption
encrypt = "{{ consul_key }}"

# Address of another agent to join upon starting up. Joining is retried until success
retry_join = [{% for host in groups['consul'] %}"{{ hostvars[host]['ansible_host'] }}"{% if not loop.last %}, {% endif %}{% endfor %}]