[global]
workgroup = WORKGROUP
server string = Samba Server Version %v
log file = /var/log/samba/log.%m
max log size = 1000
load printers = no
security = user
getwd cache = yes

[homes]
comment = homes share
browseable = no
writable = yes
valid users = %S
vfs objects = recycle
recycle:repository = .recycle
recycle:exclude_dir = .recycle
recycle:keeptree = yes
recycle:versions = yes

{% for share in smb_shares %}
[{{ share['path'] | basename }}]
comment = {{ share['path'] | basename }} share
path = {{ share['path'] }}
browseable = yes
writable = yes
valid users = {{ share['allowed_users'] | join(', ') }}
create mask = 0660
directory mask = 0770

{% endfor %}