proxmox.local.dizzytopaz.fr {
    tls internal
    reverse_proxy 192.168.1.9:8006 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

wireguard.local.dizzytopaz {
    tls internal
    reverse_proxy wireguard:51821
}

http://baikal.local.dizzytopaz {
    reverse_proxy baikal:80
}

filebrowser.local.dizzytopaz {
    tls internal
    reverse_proxy filebrowser:80
}

http://firefly-iii.local.dizzytopaz {
    reverse_proxy firefly-iii:8080
}

freshrss.local.dizzytopaz {
    tls internal
    reverse_proxy freshrss:80
}

portainer.local.dizzytopaz {
    tls internal
    reverse_proxy portainer:9443 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

syncthing.local.dizzytopaz {
    tls internal
    reverse_proxy syncthing:8384
}

uptime-kuma.local.dizzytopaz {
    tls internal
    reverse_proxy uptime-kuma:3001
}