---
- name: Set timezone to {{ timezone }}
  community.general.timezone:
    name: "{{ timezone }}"
  tags: common,timezone

- name: Set hostname to "{{ inventory_hostname }}"
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"
  tags: common,hostname

- name: Install additional packages
  ansible.builtin.package:
    name: "{{ additional_packages }}"
    state: present
  when: additional_packages is defined
  tags: common,packages

- name: Enable additional services
  ansible.builtin.systemd_service:
    name: "{{ item }}"
    state: started
    enabled: true
    scope: system
  loop: "{{ additional_services }}"
  when: additional_services is defined
  tags: common,services