---
http:
  routers:
    proxmox:
      rule: "Host(`pve.{{ private_domain }}`)"
      entryPoints: 
        - "https"
      tls: {}
      service: "proxmox"

    wireguard:
      rule: "Host(`wg.{{ private_domain }}`)"
      entryPoints: 
        - "https"
      tls: {}
      service: "wireguard"

  services:
    proxmox:
      loadBalancer:
        servers:
          - url: "https://192.168.1.9:8006"

    wireguard:
      loadBalancer:
        servers:
          - url: "http://192.168.1.10:51821"