---
http:
  routers:
    proxmox:
      rule: "Host(`pve.{{ private_domain }}`)"
      entryPoints: 
        - "https"
      tls: {}
      service: "proxmox"

    wireguard:
      rule: "Host(`wg.{{ private_domain }}`)"
      entryPoints: 
        - "https"
      tls: {}
      service: "wireguard"

  services:
    proxmox:
      loadBalancer:
        servers:
          - url: "https://{{ groups['pve'][0] }}:8006"

    wireguard:
      loadBalancer:
        servers:
          - url: "http://{{ groups['vpn'][0] }}:51821"